/* set borders using border property shorthand */
/* p {
  border: 5px solid black; */
/* } */
/* hover property */
/* p:hover { */
  /* background-color: yellow; */
/* }
calc styling uses percentages/ratios to set sizing */
/* .main {
  width: calc(100% - 200px);
  /* z index sets the depth aka which elements are in front of others */
  /* z-index: 2; */ */
/* } */
* {
    background-color:rgb(197, 249, 197);
}
body {
    height: 100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:rgb(179, 252, 179);
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  height: 100vh;
  z-index: -2;
}
.catbody-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /* Make sure the elements align in a row */
}
.head {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  border-radius: 50px;
  height: 100px;
  width: 100px;
  background-color: rgb(241, 169, 36);
  z-index: 2;
  position: relative;
  /* left: 200px; */
}
.catbody {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  border-radius: 50px;
  height: 150px;
  width: 200px;
  background-color: rgb(241, 169, 36);
  z-index: 2;
  /* position: absolute; */
  /* margin-left: 10px; */
  /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.rug {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  height: 300px;
  width: 450px;
  background-color: rgba(241, 214, 36, 0.836);
  z-index: 0;
  position: absolute;
  border: 5px dashed peru;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
}
.tail {
  display: flex;
  /* justify-content: center; */
  height: 20px;
  width: calc(100% - 580px);
  border-radius: 40%;
  background-color: white;
  z-index: 3;
  position: relative;
  /* top: 400px;
  left: 340px; */
}
/* Media query for tablets (786px to 1024px) */
@media (max-width: 1024px) {
  .head {
    height: 80px;
    width: 80px;
    /* left: 370px; */
  }
  .catbody {
    height: 120px;
    width: 160px;
    /* margin-left: 5px; */
  }
  .rug {
    height: 240px;
    width: 360px;
  }
  .tail {
    height: 15px;
    width: 100px;
    /* top: 395px;
    left: 560px; */
}
}

/* Media query for mobile devices (320 px to 480px) */
@media (max-width: 480px) {
  .head {
    height: 60px;
    width: 60px;
    /* left: 140px; */
  }
  .catbody {
    height: 90px;
    width: 120px;
    /* margin-left: 2px; */
  }
  .rug {
    height: 150px;
    width: 270px;
    margin-bottom: 30px;
  }
  .tail {
    height: 15px;
    width: 60px;
    /* top: 160px;
    left: 185px; */
  }
  .form-container h2 {
    font-size: smaller;
    margin-top: 50px;
  }
  .form-container {
    display: flex;
    margin-top: 20px;
  }
}

/* Media query for large screens (1050px and up) */
@media (min-width: 1050px) {
    .catbody-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
  .head {
    height: 120px;
    width: 120px;
    /* left: calc(100% - 1050px); */
  }
  .catbody {
    height: 180px;
    width: 240px;
    /* align-items: center; */
    /* margin-left: 60px; */
  }
  .rug {
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tail {
    height: 25px;
    width: 180px;
    /* top: 520px;
    margin-left: 360px; */
  }
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 10px;
    justify-content: flex-end;
    margin-top: auto;
}
.form-container h2 {
    margin-top: 0px;
}